
.welcome-content {
    border-radius: 12px;
    max-width: 1000px;
    transform: translateY(20px);
    animation: fadeInUp 1.5s ease-out forwards;
    padding: 5px 20px 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 110px; /* Adjust this value based on the height of the header section */
    text-align: center;
    background: linear-gradient(to right, #b8d7fad8, #f6ffa1de); /* Gradient background */
}

.welcome-content h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    animation: textFadeIn 1s ease-in;
    color: #3d3c3c;
}
.welcome-content h2 {
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 600;
    animation: textFadeIn 1s ease-in;
    color: #000000;
}
.welcome-content a {
    text-decoration: none;
}
.welcome-content a:hover {
    text-decoration: underline;
}
.welcome-content p {
    font-size: 1.3em;
    margin-bottom: 30px;
    line-height: 1.6;
    animation: textFadeIn 1.2s ease-in;
    color: rgb(0, 0, 0);
}

.cta-button {
    background: #ff6f61;
    color: white;
    font-size: 1.5em;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.cta-button:hover {
    background: #ff4c39;
    transform: translateY(-5px);
}

.cta-button:active {
    transform: translateY(0);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes textFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveBackground {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}